# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Other files/folders to exclude
secret.txt
logs/

Tests
Addendum
*.db
APISummarizer.py
CodeEnumerator.py
additional.txt
footer.txt
header.txt
prompt_class_usage.prompt
saved_map*
code_summary.md
.gitignore